<header class="header">
  <div class="header_darker">
    <div class="header-logo_blur">
      <a href="header-logo">
        <svg class="header-logo_svg">
          <use href="images/symbol-defs.svg#icon-logo"></use>
        </svg>
      </a>
    </div>
    <h1 class="header_h1">FIND BEST EVENTS <br />AROUND THE WORLD</h1>
    <div class="header-pos">
      <label class="header-pos_label">
        <input
          type="text"
          placeholder="Start searching"
          class="header-pos_input"
          id="eventInp"
        />
        <svg class="header-pos_svgSearch">
          <use href="images/symbol-defs.svg#icon-search"></use>
        </svg>
      </label>
      <label class="header-pos_label">
        <input
          type="text"
          placeholder="Choose country"
          class="header-pos_input"
          id="countryInp"
        />
        <div id="result"></div>
        <svg class="header-pos_svgList">
          <use href="images/symbol-defs.svg#icon-list"></use>
        </svg>
      </label>
    </div>
  </div>
</header>
